.identity_card{
    width:  300px;
    height: 500px;
    background-color: chocolate;
    border: 1px solid chocolate;
    margin: 50px;
}
img{
    width: 200px;
    height: 200px;
    margin: 45px;
}
.identity_card >h1, h2{
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    text-align: center;
    margin: -15px;
    padding: 10px;
}
p{
    color: white;
    font-family: sans-serif;
}